@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Courgette&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Courgette&family=Merienda:wght@300..900&family=Story+Script&display=swap');

/* controller.jsx styles*/

body {
	background-color: #d4edf7;
}

.title {
	text-align: center;
	font-family: 'Merienda', sans-serif;
	font-size: 25px;
}

.rule {
	text-align: left;
	font-size: 15px;
	padding: 5px 10px;
	font-family: 'Merienda', sans-serif;
}

.cardContainer {
	margin: 10px 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: center;
	gap:20px 0px;
}

footer {
	padding: 5px;
	margin-top: 30px;
	background-color: #14536c;
	color: wheat;
}

footer a {
	color: floralwhite;
	text-decoration: none;
	font-family: "Cinzel Decorative", sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	gap: 15px;
}

footer img {
	width: 30px;
}

.blurSection {
	padding: 5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	backdrop-filter: blur(4px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;	
}

.winDisplayer {
	padding: 20px 25px;
	background-color: #75c6e7;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.description {
	padding: 3px;
	font-size: 35px;
	font-weight: bold;
	font-family: "Cinzel Decorative", sans-serif;
}

.closeButton {
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 2px 2px 3px gray;
}

/* card.jsx styles */

.cards {
	width: 250px;
	height: 300px;
	padding: 5px;
	border: 2px solid;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1f83ad;
	box-shadow: 2px 2px 3px #6d6d72;
}

.cards img {
	width: 250px;
	height: 300px;
}

.cards p {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin: 5px 0;
	font-family: 'Story Script', monospace;
	font-size: 22px;
	color: whitesmoke;
}

/* score.jsx styles */

.scoreContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.scores {
	padding: 5px 10px;
	margin: 3px 5px;
	font-family: "Cinzel Decorative", sans-serif;
	font-weight: bold;
}

